.home {
    text-align: center;
    padding: 20px;
  }
  
  .home h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .home p {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
  
  .banner img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
  }
  
  .order-now-btn {
    background-color: #ff6347;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
  }
  
  .login-button {
    background-color: #00c3ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-button:hover {
    background-color: #0077e6;
  }
  