/* src/pages/Notification.css */

.notification-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 80px; /* เพิ่ม margin-top เพื่อไม่ให้เนื้อหาทับกับ Navbar */
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.order-details {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.order-details div {
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 8px;
  font-style: italic;
}

ul li div {
  margin-top: 5px;
  font-size: 0.9em;
  color: #555;
}
